*{
    padding : 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
   background-color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    position: sticky;
    top: 0px;
}
.logo{
    color: white;
    font-size: 28;
}
span{
    color: rgb(157, 11, 11);
}
nav ul li{
    list-style-type: none;
    display: inline ;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li a:hover{
    color:  rgb(157, 11, 11);
    text-decoration: 0.3s;
}

.image{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid  rgb(157, 11, 11);
}
.image p{
    color: white;
    font-weight: bold;
    padding: 30px;
    margin: 30px;
    font-size: 28px;

}
.crimson-text{
    color: rgb(157, 11, 11);
    font-weight: lighter;
    font-size: 20px;
   
}
.tags{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}
.about_section{
    color: rgb(0, 0, 0.8);
    background-color: rgb(10, 10, 10);
}

.about_section h1{
    color: rgb(157, 11, 11);
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Secular One', sans-serif;
    /* margin: 20PX; */
}
.services_section h1{
    color: rgb(157, 11, 11);
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Secular One', sans-serif;
    /* margin: 20PX; */
}
.skills_section h1{
    color: rgb(157, 11, 11);
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Secular One', sans-serif;
    /* margin: 20PX; */
}
.experiences_and_achievements h1{
    color: rgb(157, 11, 11);
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Secular One', sans-serif;
    /* margin: 20PX; */
}
.about_section P{
    color: rgb(255, 247, 247);
    align-items: center;
    justify-content: center;
    margin: auto; 
    /* width: 640px;  */
    padding: 50px;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    word-spacing: 5;    

}
.services_section P{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Open Sans', sans-serif;

}
.skills_section ul li{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
     margin: auto; 
     width: 640px; 
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

}
.skills_section ul li h1{
    color: rgb(255, 255, 255);
}
.experiences_and_achievements P{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Open Sans', sans-serif;

}
/* .services_section{
    color: rgb(0, 0, 0.8);
    background-color: rgb(10, 10, 10);
} */
.skills_section{
    color: rgb(0, 0, 0.8);
    background-color: rgb(0, 0, 0);
}
.experiences_and_achievements{
    color: rgb(0, 0, 0.8);
    background-color: rgb(10, 10, 10);
}
.grid-container {
    display: flex;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #000000;
    padding: 10px;
  }

 .col{
    background-color: #2196F3;

    @media (min-width: 768px) {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
 } 
 .col-1{
    background-color: #2196F3;
    padding: 16px;

    @media (min-width: 768px) {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
 } 
 .col-2{
    background-color: #2196F3;

    @media (min-width: 768px) {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
 } 
.footer{
    background-color: black;
}

.grid-container ul li{
    color: white;
}
